.img-border {
    width:100%;
}

header>section.top {
    background:#3f3f3f;
}

header>section.top a {
    color:#fff;
}

header p.title a {
    position:relative;
    display:inline-block;
}
header p.title a::before, header p.title a::after {
    content:"";
    position:absolute;
    width:30px;
    height:10px;
    background:orange;
    z-index:-1;
}
header p.title a::before {
    top:3px;
    left:-10px;
}
header p.title a::after {
    bottom:3px;
    right:-10px;
}
nav.mainmenu>ul>li.current-menu-item>a {
    color: #ff8400 !important;
}

header nav>ul ul {
    width: 170px;
}

.content {
    max-width:1200px;
}

.home h2+p {
    min-height:78px;
}

.color-black header .top a {
    color:#fff;
}
nav.mainmenu>ul>li>a {
    font-weight:500;
}

.social ul li a.telegram {
    background:url("./images/contents/tele_logo.png")no-repeat center / cover scroll;
    margin-left:-1px;
    opacity:1;
    border:1px solid #bbb;
}


.slider article h3 {
    color:#fff;
}

.slider article p.intro-text {
    font-size:1.8em;
    line-height:1.4;
    color:#fff;
}

.slider article div {
    padding:2em;
    background-color:rgba(0,0,0,0.4);
    backdrop-filter:blur(4px);
}

.col4 img {
    max-width:100% !important;
}

.content, .columns, .col1, .col2, .col3, col4, .col23, .col6, .col34 {
    overflow:visible;
}

.team h3 {
    font-weight:500;
}

.content h2 {
    font-weight:500 !important;
}

p {
    word-break: keep-all;
}

.img-border img {
    object-fit: cover;
}

section > div[class*="intro"] {
    margin-left:0;
}

.pricing-plans {
    margin-left:0 !important;
}

.badge {
    font-weight:normal !important;
    font-size:10px !important;
    border-radius:16px !important;
    padding:7px 12px !important;
    height:auto !important;
    line-height:1 !important;
}

.badge + h2 {
    margin-top:0;
    font-size:1.846em;
}

blockquote.quote a.button {
    margin-left:-55px;
}

@media screen and (min-width:768px) {
    .team.col1 .img-border {
        width:50%;
        margin:0;
    }

    .columns>article.col1 {
        display:flex;
        align-items:center;
        gap:40px;
    }

    .d-flex {
        display:flex;
    }
    
    .align-items-center {
        align-items:center;
    }
}

.columns>article.col1 > * {
    flex:1 0 50%;
}

.pricing-plan h2 {
    font-size:1.6em !important;
    padding:1em 0;
}

.pricing-plan p.price strong {
    font-size:1.8em;
}

.pricing-plan ul li {
    word-break:keep-all;
}

blockquote.quote {
    max-width:100%;
}

blockquote.quote p.signature {
    margin:2.5em 0;
    text-align:center;
}

ul.accordion li>a {
    font-weight:400;
    padding:10px 0 10px 25px;
}

footer a {
    color:#999;
}

footer article h3 {
    font-weight:400;
}

footer .bottom ul li {
    margin:0;
    padding:0;
    list-style:none;
}

.img-border-none > .img-border::before {
    display:none;
}

@media screen and (min-width:768px) {
    footer section {
        display:flex;
        justify-content: space-between;
    }

    footer .bottom ul {
        display:flex;
        margin:0;
        padding:0;
        gap:10px;        
    }

    footer .bottom ul li a {
        font-size:0.917em;
    }
}