html, body, .root {
    min-height:100vh;
}

.root {
    display:flex;
    flex-direction:column;
}

footer {
    margin-top:auto;
}

a.button {
    height:auto;
    min-height:32px;
    text-align:center;
}

.img-border {
    width:100%;
}

header>section.main-header {
    max-width:1200px;
}

header>section.top {
    background:#3f3f3f;
}

header>section.top a {
    color:#fff;
}

header p.title a {
    position:relative;
    display:inline-block;
}
/* header p.title a::before, header p.title a::after {
    content:"";
    position:absolute;
    width:30px;
    height:10px;
    background:orange;
    z-index:-1;
}
header p.title a::before {
    top:3px;
    left:-10px;
}
header p.title a::after {
    bottom:3px;
    right:-10px;
} */
nav.mainmenu>ul>li.current-menu-item>a {
    color: #ff8400 !important;
}

.nav-item-title {
    padding:4px 15px 4px 14px;
    font-weight:600;
    color:#ff8400;
    text-transform:uppercase;
}

.mob-nav-item-title {
    color:#ff8400;
    font-weight:600;
    text-transform:uppercase;
}

.contact {
    width:100%;
}

.contact aside {
    float:none;
    max-width:100%;
    width:100%;
}

.contact .main {
    float:none;
    width:auto;
    max-width:100%;
}

header nav>ul ul {
    width: 170px;
}

.home h2+p {
    min-height:78px;
}

.home h2 > a {
    font-size:0.8em;
}

.privacy h4 {
    font-weight:500;
}


.color-black header .top a {
    color:#fff;
}

nav.mainmenu>ul>li>a {
    font-weight:500;
}

nav.mainmenu>ul>li:first-child>a {
    border-left:0;
}

.social ul li a.telegram {
    background:url("./images/contents/tele_logo.png")no-repeat center / cover scroll;
    margin-left:-2px;
    opacity:1;
    border:1px solid #bbb;
}

.social ul li a.kakaotalk {
    background:url("./images/contents/kakaotalk.png")no-repeat center / cover scroll;
    margin-left:-2px;
    opacity:1;
    border:1px solid #bbb;
}

.slider article h3 {
    color:#fff;
}

.slider article p.intro-text {
    font-size:1.8em;
    line-height:1.4;
    color:#fff;
}

.slider article div {
    padding:2em;
    background-color:rgba(0,0,0,0.75);
    backdrop-filter:blur(4px);
}

.col4 img {
    max-width:100% !important;
}

.content, .columns, .col1, .col2, .col3, col4, .col23, .col6, .col34 {
    overflow:visible;
}

.content {
    max-width:1200px;
}

.team h3 {
    font-weight:500;
}

.content h2 {
    font-weight:500 !important;
}

p {
    word-break: keep-all;
}

.img-border img {
    object-fit: cover;
}

section > div[class*="intro"] {
    margin-left:0;
    display:block;
}

.pricing-plans {
    margin-left:0 !important;
}

.badge {
    font-weight:normal !important;
    font-size:10px !important;
    border-radius:16px !important;
    padding:7px 12px !important;
    height:auto !important;
    line-height:1 !important;
}

.badge + h2 {
    margin-top:0;
    font-size:1.846em;
}

blockquote.quote a.button {
    margin-left:-55px;
}

@media screen and (min-width:768px) {
    .team.col1 .img-border {
        width:50%;
        margin:0;
    }

    .columns>article.col1 {
        display:flex;
        align-items:center;
        gap:40px;
    }

    .d-flex {
        display:flex;
    }
    
    .align-items-center {
        align-items:center;
    }

    .justify-content-between {
        justify-content:space-between;
    }

    .justify-content-center {
        justify-content:center;
    }
}

.network .title-number {
    width:35px;
    height:15px;
    display:inline-flex;
    align-items:center;
    justify-content:center;
    color:#fff;
    border-radius:50%;
    background:#ff8400;
    font-size:0.9em;
}

.network .counter {
    background:url("./images/contents/network_counter_bg.jpg")no-repeat center / cover scroll;
    color:#fff;
    text-align:center;
    padding:3em 5em;
    gap:20em;
    position:relative;
}

.network .counter > div {
    position:relative;
    z-index:2;
}

.network .counter::after {
    content:"";
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.4);
    backdrop-filter:blur(2px);
    -webkit-backdrop-filter:blur(2px);
    z-index:1;
}



.network .counter h2 {
    margin-top:0;
    color:#fff;
    font-size:3em;
}

.network h2 span.count {
    border:0;
}

.network .counter p {
    margin-bottom:0;
    font-size:1.4em;
}

.columns>article.col1 > * {
    flex:1 0 50%;
}

@media screen and (min-width:992px) {
    .pricing-plans {
        display:flex !important;
        gap:10px;
    }

    .pricing-plan {
        flex:1;
        float:none;
        width:auto;
        margin:20px 0 30px 0;
    }
}

.pricing-plan {
    max-height:317px;
    height:auto;
}

.pricing-plan h2 {
    font-size:1.6em !important;
    padding:1em 0;
    background:#fff1d9;
    margin-bottom:15px;
}

.pricing-plan p.price strong {
    font-size:1.8em;
}

.pricing-plan ul {
    margin:1em 0;
}

.pricing-plan ul li {
    word-break:keep-all;
    margin:5px 0;
}

.pricing-plan ul li .img-border {
    width:auto;
    margin-right:10px;
}

.pricing-plan ul li .img-border::before {
    display:none;
}

.pricing-plan ul li .img-border img {
    width:20px;
    height:20px
}

blockquote.quote {
    max-width:100%;
}

blockquote.quote p.signature {
    margin:2.5em 0;
    text-align:center;
}

ul.accordion li>a {
    font-weight:400;
    padding:10px 0 10px 25px;
}

footer a {
    color:#999;
}

footer article h3 {
    font-weight:400;
}

footer .bottom ul {
    display:flex;
    margin:0;
    padding:0;
    gap:10px;
    justify-content:center;        
}

footer .bottom ul li {
    margin:0;
    padding:0;
    list-style:none;
}

footer section {
    max-width:1200px;
}

.img-border-none > .img-border::before {
    display:none;
}

@media screen and (min-width:768px) {
    footer section {
        display:flex;
        justify-content: space-between;
    }

    footer .bottom ul li a {
        font-size:0.917em;
    }
}